.form-container {
  max-width: 570px;
  width: 100%;
  margin: 0 auto; 
  border: 1px solid rgba(0,0,0,.12);
  padding: 20px 20px 0px; 
}
autocomplete-text-box,
date-range,
option-list {
  width: 90%;
}
.search-button {
  margin-top: -10px;
  width: 30%;
  text-transform: uppercase;
}
.search-button.hidden {
  display: none;
}
.trip-options {
  margin-top: -20px;
}
.form-container .search-form .loading  {
  width: 60px;
  height: 60px;
  display: none;
}
.form-container .search-form .loading.active {
  display: block;
}