<div class="form-container">
        <form (submit)="searchFormSubmit($event)" class="search-form" [formGroup]="searchFormGroup">
            <md-grid-list cols="1" rowHeight="75px">
                <md-grid-tile>
                    <autocomplete 
                        [stateControl]="searchFormGroup.controls.searchFieldStateControl"
                        [items]="destinationPlaces"
                        placeholder="Destination, property name or address">
                    </autocomplete>
                </md-grid-tile>
                <md-grid-tile>
                    <date-range 
                        [checkInStateControl]="searchFormGroup.controls.checkInStateControl"
                        [checkOutStateControl]="searchFormGroup.controls.checkOutStateControl">
                    </date-range>
                </md-grid-tile>
                <ng-template [ngIf]="displayOptions">
                    <md-grid-tile>
                        <option-list 
                            [columnCount]="3"
                            titlePosition="left"
                            class="travel-for-work-block"
                            title="Travel for work: "
                            [options]="tripForWorkOptions"
                            [listType]="'radioList'"
                            [parentFormGroup]="searchFormGroup" >
                        </option-list>
                    </md-grid-tile>
                    <md-grid-tile #tripOptionsContainer class="trip-options">
                        <option-list #tripOptionList 
                            [columnCount]="3"  
                            [title]="'Trip Options'" 
                            [options]="commonTripOptions"
                            listType="checkList"
                            [parentFormGroup]="searchFormGroup" 
                            titlePosition="top">
                        </option-list>
                    </md-grid-tile>
                </ng-template>
                <md-grid-tile>
                    <md-spinner 
                        class="loading" 
                        [ngClass]="{'active': dataSending}" 
                        strokeWidth="10">
                    </md-spinner>
                     <button 
                        md-raised-button 
                        class="search-button" 
                        type="submit" 
                        [ngClass]="{'hidden': dataSending}">
                        Search
                    </button> 
                </md-grid-tile>
            </md-grid-list>
        </form>
    </div>
    <div class="search-results"></div>