.form-container {
  max-width: 570px;
  width: 100%;
  margin: 0 auto; 
  border: 1px solid rgba(0,0,0,.12);
  padding: 20px 20px 0px; 
}

search-field,
date-range,
option-list {
  width: 100%;
}

.search-button {
  margin-top: -10px;
  width: 30%;
  text-transform: uppercase;
}
.trip-options {
  margin-top: -20px;
}
.loading  {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
.loading-overlay{
  background: rgba(0,0,0,.32);
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}