<form (submit)="searchRequestsFormSubmit($event)" [formGroup]="searchRequestsForm" class="search-requests-filter-form">
    <div class="search-field-container">
        <div class="search-field-content">
            <md-input-container>
                <input 
                    mdInput 
                    placeholder="Start typing to search by field values" 
                    [formControl]="searchRequestsForm.controls.searchFieldControl" 
                    value="" />
            </md-input-container>
        </div>
    </div>
    <div class="search-requests-container">
        <md-progress-bar 
            mode="indeterminate" 
            class="progressBar" 
            [ngClass]="{'active': dataLoading}">
        </md-progress-bar>
        <md-grid-list cols="{{dataFieldsCount + 1}}" rowHeight="50px" class="search-requests" gutterSize="10px">
            <md-grid-tile>
                Send time
            </md-grid-tile>
            <md-grid-tile *ngFor="let fieldName of fieldNames" class="header-cell">
                <div class="header-cell-content">{{fieldName}}
                </div>
            </md-grid-tile>
            <ng-container *ngFor="let request of filteredSearchRequests | async">
                <md-grid-tile class="send-date-container">
                    {{request.sended}}
                </md-grid-tile>
                <md-grid-tile *ngFor="let field of request.fields" [ngClass]="{'highlighted': field.highlighted}">
                    <ng-template 
                        *ngIf="needToRenderCheckBox(field); then checkBoxBlock else valueBlock">
                    </ng-template>
                    <ng-template #checkBoxBlock>
                        <md-checkbox 
                            [checked]="field.value == 'true' ? true : null" 
                            disableRipple 
                            (click)="checkBoxClick($event)">
                            {{field.value}}
                        </md-checkbox>
                    </ng-template>
                    <ng-template #valueBlock>
                        {{field.value}}
                    </ng-template>
                </md-grid-tile>
            </ng-container>
        </md-grid-list>
    </div>