.data-grid-container {
    padding: 20px 20px;
    background: #C51162;
    border-radius: 5px;
} 
.header-cell-content-wrapper {
    width: 100%;
    padding: 0 5px;
    text-align: center;
}
.data-grid-container md-grid-tile.header-cell:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0,0,0,.1);
    background: rgba(255,255,255,.95);
}
.data-grid-container md-grid-tile {
    background: white;
    border-radius: 3px;
}
.data-grid-container md-grid-tile.highlighted {
    background: #FFF9C4;
}

.filter-field-container {
    width: 30%;
    margin: 0 auto;
}
.filter-field-container md-input-container {
    width: 100%;
}
.data-grid-container md-checkbox:hover {
    cursor: default !important;
}
form.grid-filter-form .data-grid-container .progressBar  {
  display: none;
}
form.grid-filter-form .data-grid-container .progressBar.active {
  display: block;
}
form.grid-filter-form .data-grid-container md-grid-tile {
    text-align: center;
}