<form [formGroup]="filterForm" class="grid-filter-form">
        
    <div class="filter-field-container">
            <div>
                <md-input-container>
                    <input 
                        mdInput 
                        placeholder="Start typing to search by field values" 
                        [formControl]="filterFieldStateControl" 
                        value="" />
                </md-input-container>
            </div>
        </div>
    
        <div class="data-grid-container">
            <md-progress-bar 
                mode="indeterminate" 
                class="progressBar" 
                [ngClass]="{'active': dataLoading}">
            </md-progress-bar>
            <md-grid-list rowHeight="50px" gutterSize="10px" [cols]="columnCount">
                <md-grid-tile *ngFor="let header of headers" class="header-cell">
                    <div class="header-cell-content">
                        {{header}}
                    </div>
                </md-grid-tile>

                <ng-container *ngFor="let dataRow of filteredData | async">
                    <md-grid-tile 
                        *ngFor="let field of dataRow.fields" 
                        [ngClass]="{'highlighted': field.highlighted}">
                        <ng-template 
                            *ngIf="needToRenderCheckBox(field); then checkBoxBlock else valueBlock">
                        </ng-template>

                        <ng-template #checkBoxBlock>
                            <md-checkbox 
                                [checked]="field.value == 'true' ? true : null" 
                                disableRipple 
                                (click)="checkBoxClick($event)">
                                {{field.value}}
                            </md-checkbox>
                        </ng-template>

                        <ng-template #valueBlock>
                            {{field.value}}
                        </ng-template>
                    </md-grid-tile>

                </ng-container>
            </md-grid-list>
        </div>