<md-grid-list 
    cols="2" 
    rowHeight="85px" 
    class="date-range-content" 
    gutterSize="50px">
    
    <md-grid-tile>
        <md-input-container class="date-picker-container" (click)="checkIn.open()">
            <input 
                #checkInInput 
                mdInput 
                [mdDatepicker]="checkIn" 
                [readonly]="true"
                required 
                [formControl]="checkInStateControl"
                placeholder="Check in date" 
                [min]="currentDate">
            
            <md-datepicker-toggle 
                mdSuffix 
                [for]="checkIn">
            </md-datepicker-toggle>
    </md-input-container>

        <md-datepicker #checkIn></md-datepicker>
    </md-grid-tile>
    <md-grid-tile>
        <md-input-container 
            class="date-picker-container" 
            (click)="checkOut.open()">
            
            <input 
                #checkOutInput 
                mdInput 
                [mdDatepicker]="checkOut" 
                [readonly]="true"
                required 
                [formControl]="checkOutStateControl" 
                [min]="currentDate"
                placeholder="Check out date">

            <md-datepicker-toggle 
                mdSuffix 
                [for]="checkOut">
            </md-datepicker-toggle>
        </md-input-container>
        <md-datepicker #checkOut></md-datepicker>
    </md-grid-tile>
</md-grid-list>