<md-input-container class="search-field-input-container">
    <input 
        required 
        mdInput 
        placeholder="Destination, property name or address" 
        [mdAutocomplete]="auto" 
        [formControl]="stateControl" 
        name="searchField">
</md-input-container>
<md-autocomplete 
    #auto="mdAutocomplete" 
    class="search-dropdown" 
    showPanel="1">
    <md-option *ngFor="let place of filteredDestinationPlaces | async" [value]="place">
        {{ place }}
    </md-option>
</md-autocomplete>